# Ignore all files in assets folder
assets/*

# But keep the assets folder itself
!assets/.gitkeep
!assets/songlist-test.json
!assets/generate-test-data.py
 
# Ignore temp folder in lib
lib/temp/
lib/temp/*changes.diff

changes.diff

cache